@import "../../assets/variables.scss";

.calendar {
  &__nav {
    display: flex;
    justify-content: space-between;
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    padding: 2rem;

    .calendar__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      transition: all 0.15s ease-in-out;
      &:not(.calendar__days) {
        cursor: pointer;
      }
      &:hover:not(.calendar__days, .calendar__item--today) {
        background-color: $color-day-hover;
      }
      &--grayed {
        color: gray;
      }
      &--today {
        position: relative;
        color: white;
        background: $color-today;

        &:hover {
          background: $color-today-hover;
        }
      }
    }
  }
}
