@import "../../assets/variables.scss";

.calendar {
  margin-bottom: 2rem;

  &__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;

    .calendar__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      transition: all 0.15s ease-in-out;
      &:not(.calendar__days) {
        cursor: pointer;
      }
      &:hover:not(
          .calendar__days,
          .calendar__item--today,
          .calendar__item--selected
        ) {
        background-color: $color-day-hover;
      }
      &--event {
        border: 3px solid $color-orange;
      }
      &--grayed {
        color: $color-grayed;
      }
      &--selected {
        background-color: $color-green;
        color: white;

        &:hover {
          background: $color-selected-hover;
        }
      }
      &--today {
        position: relative;
        color: white;
        background: $color-today;

        &:hover {
          background: $color-today-hover;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .calendar {
    width: 600px;
  }
}
