@import "../../assets/variables.scss";

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 3rem;
  row-gap: 1.5rem;
  margin-bottom: 1.5rem;

  &__today-btn {
    font-size: 1rem;
    color: white;
    background-color: $color-primary;
    border-radius: 0.3rem;
    border: 1px solid lightgrey;
    padding: 0.6rem 0.8rem;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: $color-today-hover;
    }
  }

  &__logo {
    margin-right: 0.6rem;
    border-radius: 0.2rem;
    padding: 0.1rem;
    color: $color-primary;
    font-weight: bold;
    border-width: 0.5rem;
    border-style: solid;
    border-left-color: $color-primary;
    border-top-color: rgb(26, 115, 232);
    border-right-color: $color-orange;
    border-bottom-color: $color-green;

    &-text {
      font-size: $font-size-logo;
      font-weight: $font-weight-logo;
      color: rgb(60, 64, 67);
    }
  }
}

@media screen and (max-width: 590px) {
  .navbar {
    justify-content: space-between;
  }
}
