@import "../../assets/variables.scss";

.month-changer {
  color: $color-text-muted;
  display: flex;
  gap: 1.2rem;

  &__arrows {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    .month-changer__arrow-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $dimen-calendar-item;
      height: $dimen-calendar-item;

      border-radius: 50%;

      .month-changer__arrow {
        padding-bottom: 0.5rem;
      }

      transition: all 0.15s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: $color-day-hover;
      }
    }
  }
  &__current-month {
    &::first-letter {
      text-transform: capitalize;
    }
    font-size: $font-size-logo;
    font-weight: $font-weight-logo;
    color: $color-text-muted;
  }
}
