$color-primary: rgb(26, 115, 232);
$color-text-muted: rgb(60, 64, 67);
$color-day-hover: rgb(242, 242, 242);
$color-today: rgb(26, 115, 232);
$color-today-hover: rgb(11, 97, 211);

$logo-font-size: 1.4rem;
$logo-font-weight: 500;
