@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

/* Reset */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// General

body,
html {
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.app {
  padding: 2rem;
}

@media screen and (min-width: 992px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}
